/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}

/*Card structure*/

.container {
  position: relative; /*Helps in positioning the element with respect to it's origional positioning. Static is basically the original position, relative position helps moving it in whatever direction with resoect to it's original direction*/
  background-image: url(/images/bg.png);
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  background-size: cover;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /*offsex-x offset-y blur radius*/
}

/*Top part of the card*/

.container header {
  display: flex;
}

header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between; /*Positions itself and other elements with equal spacing between each other*/
}

.logo img {
  width: 48px;
  margin-right: 10px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

header .chip {
  width: 60px;
}

/*Middle Part of the card*/

h6 {
  font-size: 12px;
  font-weight: 400;
}

h5.number {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 4px;
}

h5.name {
  margin-top: 20px;
}

.container .card-details {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: flex-end;
}
